.test {
  background-color: brown;
}

* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

body {
  background-color: hsl(240, 6%, 20%);
}

header {
  background-color: hsl(240, 6%, 15%);
  padding: 10px 0;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
}

.section {
  margin: 30px 0;
}

.text-center {
  text-align: center;
}

#myButton {
  background-color: hsl(240, 39%, 58%);
  border: solid hsl(240, 6%, 15%) 3px;
  border-radius: 15px;
  padding: 15px 32px;
  font-size: 2em;
  transition-duration: 0.4s;
}
#myButton:hover {
  background-color: hsl(240, 28%, 41%);
  cursor: pointer;
}

#day-stats {
  border-collapse: collapse;
  width: 1000px;
}
#day-stats tr:nth-child(odd) {
  background-color: hsl(240, 6%, 15%);
}
#day-stats tr:hover {
  background-color: hsl(240, 7%, 40%);
}
#day-stats th {
  background-color: hsl(240, 6%, 20%);
  padding: 12px 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 13.5%;
}
#day-stats td {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  padding: 3px 0;
}

#scrollable {
  overflow-y: scroll;
  height: 300px;
  border: solid hsl(240, 6%, 15%) 1px;
}

.gap {
  height: 120px;
}

.graph {
  width: 900px;
  height: 600px;
}
